hrtem_files/
image_topology/topology_dataset.pkl
image_topology/train_data.pkl
image_topology/AgDataset.pkl
image_topology/test_images.zip
image_topology/test_output/
masked_images/cluster_results/
masked_images/masked_images.parquet
doi_10_7941_D1SP93__v20230731/
cluster_8/cluster_results/
cluster_8/cluster_results_small/
cluster_8/parquets/